.alert {
  position: absolute;
}

.ticketBtn {
  background-color: #A1A4A7;
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 20%;
  min-width: 150px;
  align-self: center;
  border-color: #372a0c;
  border-radius: 20px;
}

.jumbotron {
  margin-top: 70px;
  padding: 25px;
  width: 60%;
}
