.home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #8cc63f;
  box-shadow: 5px 10px #1f6a39;
  height: auto;
  min-width: 300px;
  max-width: 1045px;

  h1 {
    font-weight: bold;
  }
  padding: 5% !important;

  .logInBtn {
    background-color: #A1A4A7;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    min-width: 130px;
    align-self: center;
    border-color: #372a0c;
    border-radius: 20px;
  }

  .flex-row-center {
    display: flex;
    flex-flow: row nowrap;

    #HomeLogo {
      height: 300px;
      width: 300px;
      margin: 0 0 0 15px;
    }

    @media screen and (max-width: 600px) {
      #HomeLogo {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
      }
    }
  }
}
